---
import Layout from "@layouts/Layout.astro";
import Body from "@components/Body.astro";
import Rickroll from "@/components/Rickroll";
import KoBody from "@/components/KoBody.astro";

interface Props {
  content: any;
}

const korean = Astro.url.pathname.startsWith("/ko");
---

<Layout content={{ title: "404", noindex: true }} lang={korean ? "ko" : "en"}>
  {
    korean ? (
      <KoBody>
        <div class="mdx-prose mdx-prose-link-hover">
          <h1>요청하신 페이지가 없습니다!</h1>
          <slot />
        </div>
      </KoBody>
    ) : (
      <Body>
        <div class="mdx-prose mdx-prose-link-hover">
          <h1>You Lost The Game!</h1>
          <p>
            <strong>4</strong>04 4<strong>0</strong>4 40<strong>4</strong>
          </p>
          <p>Not nOt noT</p>
          <p>Found fOund foUnd fouNd founD</p>
          <Rickroll client:idle />
          <slot />
        </div>
      </Body>
    )
  }
</Layout>
