---
import Navbar from './Navbar'
import DarkMode from './DarkMode'

import {FaBowlRice, FaBroom} from 'react-icons/fa6'
---

<div class="mx-auto max-w-[900px] twocol:grid twocol:grid-cols-12 gap-3 p-3">
  <div class="mx-1 my-3 p-3 column twocol:col-span-3 font-sans">
    <Navbar client:load>
      <div class="text-lg text-main dark:text-main-dark">
        <div class="nav-item"><a href="/">About</a></div>
        <div class="nav-item"><a href="/projects">Projects</a></div>
        <a href="/ricing">
          <div class="flex flex-row flex-wrap items-center gap-1 nav-item">
            <span>Ricing</span>
            <FaBowlRice class="inline" />
          </div>
        </a>
        <ul>
          <li>
            <a href="/ricing/linux">Linux</a>
          </li>
          <li>
            <a href="/ricing/macos">MacOS</a>
          </li>
        </ul>
        <a href="/mop">
          <div class="flex flex-row flex-wrap items-center gap-1 nav-item">
            <span>MOP</span>
            <FaBroom class="inline" />
          </div>
        </a>
        <div class="nav-item"><a href="/resume.pdf">Resume</a></div>
      </div>
      <DarkMode client:idle />
    </Navbar>
  </div>
  <div class="mx-1 my-3 p-3 column twocol:col-span-9">
    <slot/>
  </div>
</div>

<style scoped>
  ul {
    @apply text-main dark:text-main-dark list-disc list-inside text-sm
  }
  div.nav-item {
    @apply text-main dark:text-main-dark text-base
  }
  a {
    @apply duration-200 underline decoration-main dark:decoration-main-dark hover:font-semibold
  }
  .column {
    @apply shadow-md hover:shadow-lg hover:-translate-y-[1px]
    dark:hover:dark:shadow-gray-600 dark:shadow-gray-600 shadow-gray-400 hover:shadow-gray-400 border
    dark:border-gray-600 border-gray-400
    duration-200
  }
</style>
