---
import Navbar from "./Navbar";
import Settings from "./Settings.astro";
import SiteFrame from "./SiteFrame.astro";

import { FaBowlRice, FaBroom } from "react-icons/fa6";
---

<SiteFrame>
  <Fragment slot="nav">
    <Navbar client:load transition:persist lang="en">
      <div class="text-lg text-primary dark:text-primary-dark">
        <div class="nav-item"><a href="/en">About</a></div>
        <div class="nav-item"><a href="/en/6s913">Course</a></div>
        <div class="nav-item"><a href="/en/dev">Projects</a></div>
        <div class="nav-item">Setups</div>
        <ul>
          <li>
            <a href="/en/dev/setup">Dev</a>
          </li>
          <li>
            <a href="/en/dev/school">School</a>
          </li>
        </ul>
        <a href="/en/ricing" class="nav-item">
          Ricing
          <FaBowlRice />
        </a>
        <ul>
          <li>
            <a href="/en/ricing/linux">Linux</a>
          </li>
          <li>
            <a href="/en/ricing/macos">MacOS</a>
          </li>
        </ul>
        <div class="nav-item">
          <a href="/en/mop">
            MOP
            <FaBroom className="inline" />
          </a>
        </div>
        <div class="nav-item"><a href="/resume.pdf">Resume</a></div>
      </div>
      <Settings lang="en" />
    </Navbar>
  </Fragment>
  <slot />
</SiteFrame>
