---
import Navbar from './Navbar'
import DarkMode from './DarkMode'

import {FaBowlRice, FaBroom} from 'react-icons/fa6'
import { FaTheaterMasks } from "react-icons/fa";

---

<div class="mx-auto max-w-[900px] twocol:grid twocol:grid-cols-12 gap-3 p-3">
  <div class="my-3 twocol:col-span-3 font-sans top-1 sticky twocol:static bg-white dark:bg-darkbg z-50">
    <Navbar client:load>
      <div class="text-lg text-primary dark:text-primary-dark">
        <div class="nav-item"><a href="/">About</a></div>
        <div class="nav-item"><a href="/dev">Projects</a></div>
        <div class="nav-item">Setups</div>
        <ul>
          <li>
            <a href="/dev/setup">Dev</a>
          </li>
          <li>
            <a href="/dev/school">School</a>
          </li>
        </ul>
        <div class="inline-block nav-item">
          <a href="/ricing" class="flex flex-row flex-wrap items-center gap-1">
            <span>Ricing</span>
            <FaBowlRice class="inline" />
            </a>
        </div>
        <ul>
          <li>
            <a href="/ricing/linux">Linux</a>
          </li>
          <li>
            <a href="/ricing/macos">MacOS</a>
          </li>
        </ul>
        <div class="inline-block nav-item">
          <a href="/mop" class="flex flex-row flex-wrap items-center gap-1">
            <span>MOP</span>
            <FaBroom class="inline" />
            </a>
        </div>
        <div class="nav-item">Research</div>
        <ul>
          <li>
            <div class="inline-block nav-item">
              <a href="/faceanalysis" class="flex flex-row flex-wrap items-center gap-1">
                <span>Faces</span>
                <FaTheaterMasks class="inline" />
              </a>
            </div>
          </li>
        </ul>
        <div class="nav-item"><a href="/resume.pdf">Resume</a></div>
      </div>
      <DarkMode client:idle />
    </Navbar>
  </div>
  <div class="mx-1 my-3 p-3 column twocol:col-span-9">
    <slot/>
  </div>
</div>

<style scoped>
  ul {
    @apply list-disc list-inside text-base
  }
  li {
    @apply text-black dark:text-white
  }
  div.nav-item {
    @apply text-lg dark:text-white text-black
  }
  a {
    @apply duration-200 underline text-primary dark:text-primary-dark decoration-primary dark:decoration-primary-dark hover:font-semibold
  }
</style>
