---
import Navbar from './Navbar'
import DarkMode from './DarkMode'

import {FaBowlRice, FaBroom} from 'react-icons/fa6'
import { FaTheaterMasks } from "react-icons/fa";
import { GiRodOfAsclepius } from "react-icons/gi";

---

<div class="mx-auto max-w-[900px] twocol:grid twocol:grid-cols-12 gap-3 p-3">
  <div class="my-3 twocol:col-span-3 font-sans top-1 sticky twocol:static bg-white dark:bg-darkbg z-50">
    <Navbar client:load>
      <div class="text-lg text-primary dark:text-primary-dark">
        <div class="nav-item"><a href="/">About</a></div>
        <div class="nav-item"><a href="/dev">Projects</a></div>
        <div class="nav-item">Setups</div>
        <ul>
          <li>
            <a href="/dev/setup">Dev</a>
          </li>
          <li>
            <a href="/dev/school">School</a>
          </li>
        </ul>
        <a href="/ricing" class="nav-item">
          Ricing
          <FaBowlRice />
        </a>
        <ul>
          <li>
            <a href="/ricing/linux">Linux</a>
          </li>
          <li>
            <a href="/ricing/macos">MacOS</a>
          </li>
        </ul>
        <a href="/mop" class="nav-item">
          MOP
          <FaBroom class="inline" />
        </a>
        <div class="nav-item">Research</div>
        <ul>
          <li>
            <a href="/research/faceanalysis" class="nav-item">
              Faces
              <FaTheaterMasks />
            </a>
          </li>
          <li>
            <a href="/research/exposome" class="nav-item">
              Exposome
              <GiRodOfAsclepius />
            </a>
          </li>
        </ul>
        <div class="nav-item"><a href="/resume.pdf">Resume</a></div>
      </div>
      <DarkMode client:load />
    </Navbar>
  </div>
  <div class="mx-1 my-3 p-3 column col-span-12 twocol:col-span-9 overflow-x-scroll">
    <slot/>
  </div>
</div>

<style scoped>
  ul {
    @apply list-disc list-inside text-base
  }
  li {
    @apply text-black dark:text-white
  }
  div.nav-item {
    @apply text-lg dark:text-white text-black
  }
  a {
    @apply duration-200 underline text-primary dark:text-primary-dark decoration-primary dark:decoration-primary-dark hover:font-semibold
  }
  li a {
    @apply inline-block;
  }
</style>
