---
import Navbar from "./Navbar";
import Settings from "./Settings"

import { FaBowlRice, FaBroom } from "react-icons/fa6";
import "@/navbar.css";
---

<div class="gap-3 p-3 mx-auto max-w-[900px] twocol:grid twocol:grid-cols-12">
  <div
    class="sticky top-1 z-50 my-3 font-sans bg-white twocol:col-span-3 twocol:static dark:bg-darkbg"
    transition:name="navbar"
    transition:animate="none"
  >
    <Navbar client:load transition:persist lang="en">
      <div class="text-lg text-primary dark:text-primary-dark">
        <div class="nav-item"><a href="/en">About</a></div>
        <div class="nav-item"><a href="/en/6s913">Course</a></div>
        <div class="nav-item"><a href="/en/dev">Projects</a></div>
        <div class="nav-item">Setups</div>
        <ul>
          <li>
            <a href="/en/dev/setup">Dev</a>
          </li>
          <li>
            <a href="/en/dev/school">School</a>
          </li>
        </ul>
        <a href="/en/ricing" class="nav-item">
          Ricing
          <FaBowlRice />
        </a>
        <ul>
          <li>
            <a href="/en/ricing/linux">Linux</a>
          </li>
          <li>
            <a href="/en/ricing/macos">MacOS</a>
          </li>
        </ul>
        <div class="nav-item">
          <a href="/en/mop">
            MOP
            <FaBroom className="inline" />
          </a>
        </div>
        <div class="nav-item"><a href="/resume.pdf">Resume</a></div>
      </div>
      <Settings lang="en" client:load />
    </Navbar>
  </div>
  <div
    class="overflow-x-scroll col-span-12 p-3 my-3 mx-1 column twocol:col-span-9"
  >
    <slot />
  </div>
</div>
