---
import {FaDiscord, FaEnvelope, FaGithub, FaInstagram, FaLinkedinIn, } from 'react-icons/fa6'
---

<div class="flex flex-wrap justify-center items-center gap-2 m-2 p-1">
  <a href="https://discordapp.com/users/1132455776116559932" aria-label="Discord"><FaDiscord /></a>
  <a href="https://github.com/junikimm717" aria-label="GitHub"><FaGithub /></a>
  <a href="https://www.instagram.com/junichristopherkim/" aria-label="Instagram"><FaInstagram /></a>
  <a href="https://linkedin.com/in/junickim" aria-label="LinkedIn"><FaLinkedinIn /></a>
</div>

<style scoped>
  a {
    @apply duration-500 text-3xl border text-primary dark:text-primary-dark border-primary
         dark:border-primary-dark p-2 w-12 h-12 flex items-center justify-center
         hover:bg-primary hover:dark:bg-primary-dark
         hover:text-white hover:dark:text-darkbg
  }
</style>
