---
import Navbar from "./Navbar";
import Settings from "./Settings.astro";
import SiteFrame from "./SiteFrame.astro";

import { FaBowlRice } from "react-icons/fa6";
---

<SiteFrame>
  <Fragment slot="nav">
    <Navbar client:load transition:persist lang="ko">
      <div class="text-lg text-primary dark:text-primary-dark">
        <div class="nav-item"><a href="/ko">소개</a></div>
        <div class="nav-item"><a href="/ko/dev">포트폴리오</a></div>
        <div class="nav-item"><a href="/ko/dev/setup">개발 환경</a></div>
        <a href="/ko/ricing" class="nav-item">
          라이싱
          <FaBowlRice />
        </a>
        <div class="nav-item"><a href="/resume_ko.pdf">이력서</a></div>
      </div>
      <Settings lang="ko" />
    </Navbar>
  </Fragment>
  <slot />
</SiteFrame>
