---
import { fade } from "astro:transitions";
import Layout from "../layouts/Layout.astro";
import KoBody from "@/components/KoBody.astro";

interface Props {
  content: any;
}
const { content } = Astro.props;
---

<Layout {content} lang="ko">
  <KoBody>
    <div
      class="mdx-prose"
      transition:name="mdxpage"
      transition:animate={fade({ duration: "0.25s" })}
    >
      <slot />
    </div>
  </KoBody>
</Layout>

<style is:global></style>
