---
import Layout from "../layouts/Layout.astro";
import { mdxFadeTransition } from "../lib/mdxFadeTransition";
import KoBody from "@/components/KoBody.astro";

interface Props {
  content: any;
}
const { content } = Astro.props;
---

<Layout {content} lang="ko">
  <KoBody>
    <div
      class="mdx-prose"
      transition:name="mdxpage"
      transition:animate={mdxFadeTransition}
    >
      <slot />
    </div>
  </KoBody>
</Layout>

<style is:global></style>
