---
import "@/base.css";
import Contact from "@components/Contact.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  content: any;
  lang: "en" | "ko" | undefined;
}
const { content } = Astro.props;
const lang = Astro.props.lang ?? "en";
---

<!doctype html>
<html lang={lang}>
  <head>
    <script is:inline>
      function colorMode() {
        if (localStorage.getItem("dark") === "true") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      }
      colorMode();
      document.addEventListener("astro:after-swap", colorMode);
    </script>
    <ClientRouter />
    <meta charset="UTF-8" />
    {
      lang === "en" ? (
        <meta name="description" content="Juni's Personal Website" />
      ) : (
        <meta name="description" content="김준희의 개인 홈페이지" />
      )
    }
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" type="image/png" href="/triangle.jpeg" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{content.title}</title>
  </head>
  <body
    class="font-mono dark:text-white dark:bg-darkbg"
  >
    <slot />
    <footer
      class="p-3 text-sm text-center text-gray-600 dark:text-gray-400 twocol:text-base"
    >
      <Contact />
      {
        lang === "en" ? (
          <>
            Made with Astro, React, and TailwindCSS. See the source code on
            <a
              href="https://github.com/junikimm717/personal-website-v5"
              class="text-black underline dark:text-white hover:font-bold decoration-primary dark:decoration-primary-dark"
            >
              GitHub.
            </a>
          </>
        ) : (
          <>
            이 웹사이트는 React, Astro, 그리고 TailwindCSS로 개발했습니다.
            소스코드는
            <a
              href="https://github.com/junikimm717/personal-website-v5"
              class="text-black underline dark:text-white hover:font-bold decoration-primary dark:decoration-primary-dark"
            >
              GitHub
            </a>
            에 공개되어있습니다.
          </>
        )
      }
      <br />
      &copy;
      {lang === "en" ? "Juni Kim" : "김준희"} 2023-{new Date().getFullYear()}
    </footer>
  </body><script
    async
    type="text/partytown"
    src="https://www.googletagmanager.com/gtag/js?id=G-5CKPFSKGQ3"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-5CKPFSKGQ3");
  </script>
</html>
