---
import Body from '../components/Body.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<script is:inline>
			if (localStorage.getItem("dark") === "true") {
				document.documentElement.classList.add("dark")
			} else {
				document.documentElement.classList.remove("dark")
			}
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content="Juni's Personal Website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-[#121212] dark:text-white">
		<Body>
			<slot />
		</Body>
		<footer class="text-gray-600 dark:text-gray-400 p-3 text-center">
			&copy; Juni Kim 2023-{new Date().getFullYear()}
		</footer>
	</body>
</html>
<style is:global>
	html {
		font-family: 'Roboto Slab', serif;
	}
</style>
