---
import Body from '../components/Body.astro'

interface Props {
  content: any;
}
const { content } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<script is:inline>
			if (localStorage.getItem("dark") === "true") {
				document.documentElement.classList.add("dark")
			} else {
				document.documentElement.classList.remove("dark")
			}
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content="Juni's Personal Website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Roboto+Mono:ital,wght@0,400;0,600;0,700;1,400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{content.title}</title>
	</head>
	<body class="dark:bg-darkbg dark:text-white font-mono">
		<Body>
			<slot />
		</Body>
		<footer class="text-gray-600 dark:text-gray-400 p-3 text-center twocol:text-base text-sm">
      Made with Astro, React, and TailwindCSS. See the source code on
      <a
        href="https://github.com/junikimm717/personal-website-v5"
        class="underline text-primary dark:text-primary-dark"
      >
        GitHub.
      </a>
      <br>
			&copy; Juni Kim 2023-{new Date().getFullYear()}
		</footer>
	</body>
	<script async type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-5CKPFSKGQ3"></script>
	<script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'YOUR-ID-HERE');
  </script>
</html>
<style is:global>
html.dark .astro-code, html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
.column {
  @apply shadow-md hover:shadow-lg hover:-translate-y-[1px]
  dark:hover:dark:shadow-gray-600 dark:shadow-gray-600 shadow-gray-400 hover:shadow-gray-400 border
  dark:border-gray-600 border-gray-400
  duration-200
}
/*
react icons are almost always inlined
*/
svg {
	display:inline-block;
}
</style>
