---
import Layout from '../layouts/Layout.astro';
import Body from '../components/Body.astro'

interface Props {
  content: any;
}
const { content } = Astro.props;
---

<Layout {content}>
	<Body>
    <div class="m-0 p-0 prose dark:prose-invert prose-h1:font-extrabold prose-h2:font-bold
    prose-a:underline hover:prose-a:font-semibold prose-figcaption:text-center
    prose-a:transition-all prose-a:text-primary prose-sm twocol:prose-base
    prose-a:dark:text-primary-dark prose-headings:font-sans duration-500">
      <slot />
    </div>
	</Body>
</Layout>

<style is:global>

</style>
