---
import Layout from "../layouts/Layout.astro";
import Body from "../components/Body.astro";

interface Props {
  content: any;
}
const { content } = Astro.props;
---

<Layout {content}>
  <Body>
    <div
      class="p-0 m-0 duration-500 prose prose-h1:font-extrabold prose-h2:font-bold prose-h3:font-semibold prose-a:underline prose-a:decoration-primary prose-a:decoration-2 prose-figcaption:text-center prose-figcaption:leading-7 prose-p:leading-8 prose-a:transition-all prose-sm twocol:prose-base prose-headings:font-sans dark:prose-invert dark:prose-a:decoration-primary-dark hover:prose-a:font-bold"
    >
      <slot />
    </div>
  </Body>
</Layout>

<style is:global></style>
