---
import Layout from '../layouts/Layout.astro';

interface Props {
  content: any;
}
const { content } = Astro.props;
---

<Layout {content}>
  <div class="prose dark:prose-invert prose-h1:font-extrabold prose-h2:font-bold
  prose-a:underline hover:prose-a:font-semibold prose-figcaption:text-center
  prose-a:transition-all prose-a:text-primary prose-sm twocol:prose-base
  prose-a:dark:text-primary-dark prose-headings:font-sans">
    <slot />
  </div>
</Layout>

<style is:global>

</style>
