---
import Layout from '../layouts/Layout.astro';

interface Props {
	title: string
}
---

<Layout title={Astro.props.title}>
  <div class="prose dark:prose-invert prose-h1:font-extrabold prose-h2:font-bold
  prose-a:underline hover:prose-a:font-semibold prose-figcaption:text-center
  prose-a:transition-all prose-a:text-blue-800
  prose-a:dark:text-blue-300">
    <slot />
  </div>
</Layout>
