---
import Layout from "../layouts/Layout.astro";
import { mdxFadeTransition } from "../lib/mdxFadeTransition";
import Body from "../components/Body.astro";

interface Props {
  content: any;
}
const { content } = Astro.props;
---

<Layout {content} lang="en">
  <Body>
    <div
      class="mdx-prose mdx-prose-link-hover"
      transition:name="mdxpage"
      transition:animate={mdxFadeTransition}
    >
      <slot />
    </div>
  </Body>
</Layout>
