---
import { fade } from "astro:transitions";
import Layout from "../layouts/Layout.astro";
import Body from "../components/Body.astro";

interface Props {
  content: any;
}
const { content } = Astro.props;
---

<Layout {content} lang="en">
  <Body>
    <div
      class="mdx-prose mdx-prose-link-hover"
      transition:name="mdxpage"
      transition:animate={fade({ duration: "0.25s" })}
    >
      <slot />
    </div>
  </Body>
</Layout>
