---
import Layout from "../layouts/Layout.astro";
import MinimalBody from "../components/MinimalBody.astro";

interface Props {
  content: any;
}
const { content } = Astro.props;
---

<Layout {content} lang="en">
  <MinimalBody>
    <div class="mdx-prose mdx-prose-link-hover" transition:name="nativepage">
      <slot />
    </div>
  </MinimalBody>
</Layout>
